<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Vue.js todo appサンプル</title>
  </head>
  <body>
    <div id="app">
      <label for="input-todo">新規タスクを投稿</label>
      <input id="input-todo" type="text" ref="newtask" />
      <button v-on:click="submitNewTask">投稿</button>
      <table>
        <thead>
          <tr>
            <th class="id">ID</th>
            <th class="comment">タスク</th>
            <th class="state">状態</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="todo in todos">
            <td>{{todo.id}}</td>
            <td>{{todo.content}}</td>
            <td>
              <button v-if="todo.done" v-on:click="switchStatus(todo)">
                done
              </button>
              <button v-else v-on:click="switchStatus(todo)">not done</button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- 入力欄と投稿ボタン -->
      <!-- todoリストと削除ボタン -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
